.created-card-msg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 17px 17px 17px 24px;
  color: rgb(22, 230, 46);
  font-size: 1rem;
  max-width: 380px;
  gap: 10px;
  margin: 0 auto;
}
