.card-item {
  width: 285px;
  height: 350px;
  background-color: #E5E5E5;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  color: #4F4F4F;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.4s ease-out;
  font-family: 'Roboto';
  position: relative;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  &__title {
    text-align: end;
    font-family: 'Roboto';
  }

  &__button {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    align-self: end;
    width: 120px;
    height: 32px;
    background-color: #2F80ED;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    transition: all 0.4s ease-out;
    position: absolute;
    bottom: 10px;
    right: 73px;

    &:hover {
      cursor: pointer;
      background-color: #5197f3;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__img {
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &__list {
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  &__el {
    font-family: 'Roboto';
    list-style: none;
    font-size: 11px;
    font-weight: regular;
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &__date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    text-align: right;
  }
}

.heart {
  position: absolute;
  top: 25px;
  right: 23px;
  color: red;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
}