.not-found-page {
  width: 23%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
  height: 75vh;
}

.error-text {
  color: #929191;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 184px;
}